

.Azul{
    border: 3px solid blue;
    text-decoration: none;
    font-style: italic;
    text-align: center;
   
    
}
.Rosa{
    border: 3px solid pink;
    text-decoration: none;
    font-style: italic;
    text-align: center;
   
    

}